{{ asset_add("styles.css", "anomaly.field_type.boolean::css/bootstrap-toggle.css") }}
{{ asset_add("scripts.js", "anomaly.field_type.boolean::js/bootstrap-toggle.min.js") }}

<div class="ui checkbox {{ field_type.config.type ?: 'toggle' }}">
    <input
            type="checkbox"
            name="{{ field_type.getInputName() }}"
            {{ field_type.value ? 'checked' }}>

    <label>{{ trans(field_type.config.label ?: field_type.label)|raw }}</label>
</div>
