{{ asset_add('styles.css', 'anomaly.field_type.boolean::scss/switch.scss') }}


{# {{ trans(field_type.config.label) }} 

<label for="{{ field_type.input_name }}" class="">
<input
value="0"
type="hidden"
id="{{ field_type.input_name }}"
name="{{ field_type.input_name }}">

</label> #}


<div 
{# data-on-text="{{ trans(field_type.config.on_text ?: 'anomaly.field_type.boolean::choice.yes') }}"
data-off-text="{{ trans(field_type.config.off_text ?: 'anomaly.field_type.boolean::choice.no') }}" #}
data-on-text="ON"
data-off-text="OFF"
class="onoffswitch"
>
    <input type="checkbox" 
    

    
    name="{{ field_type.input_name }}" 
    class="onoffswitch-checkbox" 
    id="{{ field_type.input_name }}"
    
    {{ field_type.value ? 'checked' }}>
    <label class="onoffswitch-label" for="{{ field_type.input_name }}"></label>
</div>


    {# <input
            type="checkbox"
            name="{{ field_type.input_name }}"
            {{ field_type.value ? 'checked' }}
            data-on-text="{{ trans(field_type.config.on_text ?: 'anomaly.field_type.boolean::choice.yes') }}"
            data-off-text="{{ trans(field_type.config.off_text ?: 'anomaly.field_type.boolean::choice.no') }}"
            data-disabled="{{ field_type.disabled ? 'true' : 'false' }}"
            data-on-color="{{ field_type.config.on_color }}"
            data-off-color="{{ field_type.config.off_color }}"
            {{ html_attributes(field_type.attributes) }}
            {{ field_type.disabled ? 'disabled' }}
            {{ field_type.readonly ? 'readonly' }}> #}

    {# {{ trans(field_type.config.label) }} #} 

