{{ asset_add('styles.css', 'anomaly.field_type.boolean::less/bootstrap-switch.less') }}
{{ asset_add('scripts.js', 'anomaly.field_type.boolean::js/bootstrap-switch.min.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.boolean::js/input.js') }}

<label>
    <input
            type="checkbox"
            data-provides="switch"
            data-on-text="{{ trans(field_type.config.on_text ?: 'anomaly.field_type.boolean::choice.on') }}"
            data-off-text="{{ trans(field_type.config.off_text ?: 'anomaly.field_type.boolean::choice.off') }}"
            data-on-color="{{ field_type.config.on_color }}"
            data-off-color="{{ field_type.config.off_color }}"
            data-disabled="{{ field_type.disabled ? 'true' : 'false' }}"
            name="{{ field_type.input_name }}"
            {{ field_type.value ? 'checked' }}
            {{ field_type.readonly ? 'readonly' }}
            {{ field_type.disabled ? 'disabled' }}>
</label>
